<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "application" %>

    <script src="https://use.typekit.net/bhs8rbg.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
  </head>
  <body class="<%= page_classes %>">

    <div class="curtains">
      <div class="curtains__inner"></div>
      <div class="curtains__outer"></div>
    </div>

    <%= yield %>

    <%= image_tag('maps/1.jpg', :id => "map-1", :class => "displacer") %>
    <%= image_tag('maps/2.jpg', :id => "map-2", :class => "displacer") %>
    <%= image_tag('maps/3.jpg', :id => "map-3", :class => "displacer") %>
    <%= image_tag('maps/4.jpg', :id => "map-4", :class => "displacer") %>
    <%= image_tag('maps/5.jpg', :id => "map-5", :class => "displacer") %>
    <%= image_tag('maps/6.jpg', :id => "map-6", :class => "displacer") %>

    <%= javascript_include_tag "site" %>
  </body>
</html>
